<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">
    <link href="http://cdn.rponey.cc/admin/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="http://cdn.rponey.cc/admin/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="http://cdn.rponey.cc/admin/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="http://cdn.rponey.cc/admin/css/animate.min.css" rel="stylesheet">
    <link href="http://cdn.rponey.cc/admin/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="http://cdn.rponey.cc/admin/js/plugins/layer-v3.0.3/layer/skin/default/layer.css" rel="stylesheet" />
    <link href="http://cdn.rponey.cc/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="http://cdn.rponey.cc/admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    @RenderSection("head", false)
</head>
<body class="gray-bg">
    @RenderBody()
    <script>
        document.domain = "rponey.cc";
    </script>
    <script src="http://cdn.rponey.cc/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="http://cdn.rponey.cc/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="http://cdn.rponey.cc/admin/js/content.min.js?v=1.0.0"></script>
    <script src="http://cdn.rponey.cc/admin/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="http://cdn.rponey.cc/admin/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="http://cdn.rponey.cc/admin/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="http://cdn.rponey.cc/admin/js/demo/bootstrap-table-demo.min.js"></script>
    <script src="http://cdn.rponey.cc/admin/js/plugins/layer-v3.0.3/layer/layer.js"></script>
    <script src="http://cdn.rponey.cc/admin/js/layerHelper.js?v=1.0.2"></script>
    <script src="http://cdn.rponey.cc/admin/js/plugins/toastr/toastr.min.js"></script>
    <script src="http://cdn.rponey.cc/admin/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="http://cdn.rponey.cc/admin/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="http://cdn.rponey.cc/admin/js/plugins/validate/messages_zh.min.js"></script>
    <script src="http://cdn.rponey.cc/admin/js/closewave.js?v=1.0.0"></script>
    <script src="http://cdn.rponey.cc/admin/js/plugins/My97DatePicker/WdatePicker.js"></script>
    <script>
        $(function () {
            toastr.options = {
                "closeButton": true,
                "debug": true,
                "progressBar": true,
                "positionClass": "toast-top-full-width",
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "3000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        })
    </script>
    @RenderSection("script", false)
</body>
</html>
